<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.jump.zhu.pojo.Cat" id="cat" c:_0="huahua" c:_1="red"/>

    <bean name="user" class="com.jump.zhu.pojo.UserBean">
        <!-- 设值注入 -->
        <property name="cat" ref="cat">
            <!--<bean class="com.jump.zhu.pojo.Cat"/>-->
        </property>
        <property name="favorites">
            <array>
                <value>篮球</value>
                <value>爬山</value>
            </array>
        </property>
        <property name="cats">
            <list>
                <ref bean="cat"/>
                <bean class="com.jump.zhu.pojo.Cat" id="cat" c:_0="ruru" c:_1="yellow"/>
            </list>
        </property>
        <property name="map">
            <map>
                <entry key="name" value="zhangsan"/>
                <entry key="aa" value="lisi"/>
            </map>
        </property>

        <property name="prop">
            <props>
                <prop key="name">zhangsan</prop>
                <prop key="aa">lisi</prop>
            </props>
        </property>

    </bean>

</beans>